@import "../variables/variables.scss";

body {
    background-color: map-get($var, bg-body);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.bg {
    background-color: map-get($var, bg2);
}