
.products-text {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}

.products-text-title{
    @extend .products-text;
    min-height: 180px;
}

.products {
    border: 1px solid white;
    margin: 20px;
}

.bg-img{
    background-image: url("../img/fondo.jpg");
    background-size: cover;
}

.img-products{
    max-width: 240px;
    min-width: 240px;
    max-height: 240px;
    min-height: 240px;
}