.resenas {
    border: 1px solid white;
    margin: 20px;
}

.icon-size-form {
    font-size: 2rem;
    width: 2rem;
    margin: 10px;
}

.text-width-form {
    width: 100%;
    padding-top: 10px;
    margin-bottom: 10px;
}

.border-100 {
    border-radius: 100%;
}